<!DOCTYPE html>​
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">​
        <title>Sistema de Controle de Votos do Festival da Canção UTFPR</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>​
    <body style="background-color: #e7e7ed;">​
        <center> ​
            <p class="text-uppercase" style="font-size:medium; color:gray; font-weight: 500;"> Sistema de Controle de Votos do Festival da Canção UTFPR</p>​​
            <div class="container-md">
                {{{body}}}
            </div>​
        </center>
    </body>​
</html>