<h2>Apresentações cadastradas</h2>
<table border="1px">​
    <tr>​
        <td> RA Candidato </td>​
        <td> Música</td>
        <td> Integrantes</td>
        <td> Votos</td>​​
    </tr>​
    {{#each apresentacoes}}​
    <tr>​
        <td>{{ra_candidato}}</td>​
        <td>{{musica}}</td>​​
        <td>{{integrantes}}</td>​​
        <td>{{votos}}</td>​​
    </tr>​
    {{/each}}​
</table>
<br>
<form action="/editarApresentacao" method="post">
    <p>Editar apresentação</p>
    RA Candidato: <input type="text" name="ra_candidato">
    <br><br>
    Música: <input type="text" name="musica">
    <br><br>
    Integrantes: <input type="text" name="integrantes">
    <br><br>
    <input type="submit" value="Editar Apresentação">
        
</form>

<br>
<form action="/excluirApresentacao" method="post">
    <p>Deletar apresentação</p>
    RA Candidato: <input type="text" name="ra_candidato">
    <br> <br>
    Música: <input type="text" name="musica">
    <br> <br>
    <input type="submit" value="Deletar apresentação">
</form>
<br>
<a href="#" onclick="history.back()"><button>Voltar</button></a>