<h2>Apresentações cadastradas</h2>
<table border="1px">​
    <tr>​
        <td> RA Candidato </td>​
        <td> Música</td>
        <td> Integrantes</td>
        <td> Votos</td>​​
    </tr>​
    {{#each apresentacoes}}​
    <tr>​
        <td>{{ra_candidato}}</td>​
        <td>{{musica}}</td>​​
        <td>{{integrantes}}</td>​​
        <td>{{votos}}</td>​​
    </tr>​
    {{/each}}​
</table>