<div class="container-sm w-50 p-5">
<!--FORMULARIO-->
<form action="/cadastrarApresentacao" method="post">
    <p class="fs-4">Cadastrar apresentação</p>

    <!--RA-->        
    <div class="row mb-1">
        <div class="col-sm-4">
            <label class="col-form-label">RA:</label> 
        </div>
        <div class="col">
            <input class="form-control" type="text" name="ra_candidato" id="ra_candidato">
        </div>
    </div> 

    <!--NOME DA MUSICA-->        
    <div class="row mb-1">
        <div class="col-sm-4">
            <label class="col-form-label">Nome da Música:</label> 
        </div>
        <div class="col">
            <input class="form-control" type="text" name="musica">
        </div>
    </div> 
    
    <!--INTEGRANTES-->        
    <div class="row mb-1">
        <div class="col-sm-4">
            <label class="col-form-label">Integrantes:</label> 
        </div>
        <div class="col">
            <input class="form-control" type="text" name="integrantes">
        </div>
    </div> 

    <!--BUTTON-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <!--VOLTAR-->
        <a href="#" onclick="history.back()">
            <button type="button" class="btn btn-outline-danger">
                Volta
            </button>
        </a>
        
        <!--CADASTRAR-->
        <button type="submit" class="btn btn-primary">Cadastrar</button>

    </div>
    <!--
    <p>Cadastrar apresentação</p>
    RA: <input type="text" name="ra_candidato" id="ra_candidato">
    <br><br>

    Nome da música: <input type="text" name="musica">
    <br><br>

    Integrantes: <input type="text" name="integrantes">
    <br><br>

    <input type="submit" value="Cadastrar">
    -->
</form>
</div>