<form action="/cadastrarApresentacao" method="post">
    <h2>Cadastrar apresentação</h2>
    RA: <input type="text" name="ra_candidato" id="ra_candidato">
    <br><br>
    Nome da música: <input type="text" name="musica">
    <br><br>
    Integrantes: <input type="text" name="integrantes">
    <br><br>
    <input type="submit" value="Cadastrar">
</form>
<br>