<div class="container-md mt-3">
    <p>Olá, bem-vindo</p>

    <!--VOTAÇÃO-->
    <h5>Votação está {{status}}</h5>
    <div class="d-grid gap-1 col-4 mx-auto">
    <!--Se a votação estiver aberta-->
    {{#if value}}
        <a href="/votacaoAberta"><button type="submit" class="btn btn-success form-control">Votar</button></a>
    {{/if}}

    <!--ADMIN-->
    {{#if adm}}
        <a href="/ouvintes"><button type="submit" class="btn btn-info form-control">Ouvintes</button></a>
        <a href="/candidatos"><button type="submit" class="btn btn-info form-control">Candidatos</button></a>
        <a href="/iniciarVotacao"><button type="submit" class="btn btn-info form-control">Iniciar Votação</button></a>
        <a href="/encerrarVotacao"><button type="submit" class="btn btn-info form-control">Encerrar Votação</button></a>
        <a href="/resultados"><button type="submit" class="btn btn-info form-control">Resultados</button></a>
    {{/if}}

    <!--CANDIDATO-->
    {{#if cand}}
        <a href="/minhasApresentacoes"><button type="submit" class="btn btn-primary form-control">Minhas Apresentacoes</button></a>
    {{/if}}

    <!--TODOS USUARIOS-->
    <a href="/apresentacao"><button type="button" class="btn btn-primary form-control">Cadastrar apresentação</button></a>
    <a href="/apresentacao"><button type="submit" class="btn btn-primary form-control">Apresentação</button></a>
    </div>
    <a href="logout"><button type="button" class="btn btn-outline-danger btn-sm mt-4">Logout</button></a>
</div>