<p>Olá, bem-vindo</p>
<h3>Votação {{status}}</h3>

{{#if value}}
<form action="/votacaoAberta" method="get">
    <input type="submit" value="Votar">
</form>
{{/if}}

<form action="/apresentacao" method="get">
    <br><br>
    <input type="submit" value="Cadastrar apresentação">
</form>

<form action="/ouvintes" method="get">
    <br><br>
    <input type="submit" value="Ouvintes">
</form>

<form action="/candidatos" method="get">
    <br>
    <input type="submit" value="Candidatos">
</form>

<form action="/apresentacoes" method="get">
    <br>
    <input type="submit" value="Apresentações">
</form>

<form action="/iniciarVotacao" method="get">
    <br><br>
    <input type="submit" value="Iniciar Votação">
</form>

<form action="/encerrarVotacao" method="get">
    <br>
    <input type="submit" value="Encerrar Votação">
</form>

<form action="/resultados" method="get">
    <br><br>
    <input type="submit" value="Resultados">
</form>