<form action="/votacaoAberta" method="get">
    <p>Olá, bem-vindo</p>
    <br><br>
    <input type="submit" value="Votar">
</form>

<form action="/apresentacao" method="get">
    <br><br>
    <input type="submit" value="Cadastrar apresentação">
</form>

<form action="/ouvintes" method="get">
    <br><br>
    <input type="submit" value="Ver ouvintes">
</form>

<form action="/candidatos" method="get">
    <br><br>
    <input type="submit" value="Ver candidatos">
</form>

<form action="/apresentacoes" method="get">
    <br><br>
    <input type="submit" value="Ver apresentações">
</form>

<form action="/iniciarVotacao" method="get">
    <br><br>
    <input type="submit" value="Iniciar Votação">
</form>

<form action="/encerrarVotacao" method="get">
    <br>
    <input type="submit" value="Encerrar Votação">
</form>