<div class="container-md mt-3">
    <p class="fw-normal p-1">Olá, bem-vindo</p>

    <!--VOTAÇÃO-->
    <div class="fw-normal p-2">Votação está <div class="badge bg-dark text-wrap" style="width: 4rem;">{{status}}</div></div>
    <div class="d-grid gap-1 col-4 mx-auto">
    <!--Se a votação estiver aberta-->
    <!--CANDIDATO-->
    {{#if cand}}
        {{#if value}}
            <a href="/votacaoAberta"><button type="submit" class="btn btn-success form-control">Votar</button></a>
        {{/if}}
        <a href="/minhasApresentacoes"><button type="submit" class="btn btn-primary form-control">Minhas Apresentacoes</button></a>
        <a href="/cadastrarApresentacao"><button type="submit" class="btn btn-primary form-control">Cadastrar apresentação</button></a>
        <a href="/apresentacao"><button type="submit" class="btn btn-primary form-control">Apresentações</button></a>
    {{/if}}

    <!--OUVINTE-->
    {{#if ouv}}
        {{#if value}}
            <a href="/votacaoAberta"><button type="submit" class="btn btn-success form-control">Votar</button></a>
        {{/if}}
        <a href="/cadastrarApresentacao"><button type="submit" class="btn btn-primary form-control">Cadastrar apresentação</button></a>
        <a href="/apresentacao"><button type="submit" class="btn btn-primary form-control">Apresentações</button></a>
    {{/if}}
    

    <!--ADMIN-->
    {{#if adm}}
        <a href="/ouvintes"><button type="submit" class="btn btn-info form-control">Ouvintes</button></a>
        <a href="/candidatos"><button type="submit" class="btn btn-info form-control">Candidatos</button></a>
        <a href="/iniciarVotacao"><button type="submit" class="btn btn-info form-control">Iniciar Votação</button></a>
        <a href="/encerrarVotacao"><button type="submit" class="btn btn-info form-control">Encerrar Votação</button></a>
        <a href="/resultados"><button type="submit" class="btn btn-info form-control">Resultados</button></a>
        <a href="/apresentacao"><button type="submit" class="btn btn-primary form-control">Cadastrar apresentação</button></a>
    {{/if}}


    <!--TODOS USUARIOS-->
    <a href="logout"><button type="button" class="btn btn-outline-danger btn-sm mt-4">Logout</button></a>
</div>