<h2>Candidatos cadastrados</h2>
<table border="1px">​
    <tr>​
        <td> RA </td>​
        <td> Senha</td>​​
    </tr>​
    {{#each candidatos}}​
    <tr>​
        <td>{{ra}}</td>​
        <td>{{senha}}</td>​​
    </tr>​
    {{/each}}​
</table>
