<form action="/login" method="post">
    RA: <input type="text" name="ra" id="login">
    <br><br>
    Senha: <input type="password" name="senha">
    <br><br>
    <input type="submit" value="Logar">
        
</form>
<br>
<!--<script> function recuperarSenha() { window.location.href = "recuperarSenha/" + document.getElementById("login").value }</script>
<button onclick=recuperarSenha()> Recupear Senha </button>-->